body {
    font-family: 'Open Sans', sans-serif;
}

.clear {
    clear: both;
}

div.container {
    margin-left: 15%;
    margin-right: 15%;
}

section#header {
    position: relative;
}

section#header div#name {
    float: right;
    position: absolute;
    left:0;
    right:0;
    padding: 40px 0px 0px 40px;
}

section#header img {
    float: left;
    height: 120px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

section#header img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

section#header div#name h1 {
    margin: auto;
    text-align: center;
    font-size: 2.3rem;
    color: #1f1f1f;
    font-weight: 700;
}

section#header div#name h3 {
    margin-top: 5px;
    font-size: 1.78rem;
    text-align: center;
    color: #888888;
    font-weight: 300;
}

section.job {
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
}

section.job h1 {
    font-size: 1.7rem;
    overflow: hidden;
    text-align: left;
    padding-left: 30px;
}


section.job h1:before,
section.job h1:after {
    background-color: #888888;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

section.job h1:before {
    right: 0.5em;
    margin-left: -50%;
}

section.job h1:after {
    left: 0.5em;
    margin-right: -50%;
    width: 90%;
}

section.job h2 {
    margin-top: 5px;
    padding-left: 30px;
    font-size: 1.2rem;
    color: #888888;
    font-weight: 300;
}

section.job span {
    position: absolute;
    background: #ffffff;
    padding-left: 15px;
    padding-right: 35px;
    top: 5px;
    right: 0px;
    font-size: 1.4rem;
    color: #888888;
    font-weight: 300;
}

section.job p {
    line-height: 1.5rem;
    font-size: 0.95rem;
    padding: 15px 30px 0px 0px;
    font-weight: 300;
    color: #2b2b2b;
}


@media only screen and (max-width: 780px) {
    section.job h1:before, section.job h1:after {
        display: none;
    }

    section.job h1 {
        font-size: 1.3rem;
        text-align: center;
        padding-left: 0px;
    }

    section.job h2 {
        padding-left: 0px;
        font-size: 1rem;
        text-align: center;
    }

    section.job span {
        position: relative;
        display: block;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 0.9rem;
        text-align: center;
    }

    section.job p {
        padding-left: 0px;
        padding-right: 0px;
    }

    section#header div#name {
        position: relative;
        float: none;
        padding: 0;
        margin-top: 20px;
    }

    section#header div#name h1 {
        font-size: 1.7rem;
    }

    section#header div#name h3 {
        margin-top: 10px;
        font-size: 1rem;
    }


    section#header img {
        height: auto;
        width: 100%;
    }

}

footer{
    font-size: 0.83rem;
    color: #3e3e3e;
    font-weight: 300;
}

footer ul{
    margin: auto;
    width: 200px;
}

.far, .fas {
    font-size: 11px !important;
    color: #464646;
    width: 15px !important;
    text-align: center;
}